
@{
    ViewBag.Title = "AddVendor";
    Layout = null;
}

<form action="/Admin/StoreVendor">
    <div class="form-group">
        <label>Enter the Company Name</label>
        <input type="text" class="form-control" id="Company" name="Company" placeholder="e.g. LG" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

