
@{
    ViewBag.Title = "EditName";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row; col-md-pull-2">
    <form action="/Admin/ChangeName">
        <div class="form-group">
            <label>Name of Item</label>
            <input type="text" class="form-control" id="name" name="Name" value="@ViewBag.Item.Name" placeholder="" rquired>
        </div>

        <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" id="model" value="@ViewBag.Item.Model" name="Model" placeholder="" readonly>
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" id="Quantity" value="@ViewBag.Item.Quantity" name="Quantity" readonly>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>

