
@using System;
@using System.IO;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using Zakria.Models;

@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading"><h4>Choose</h4></div>
            <div class="panel-body">
                <div class="row">
                    <p><a class="btn btn-default" href="/Admin/StockForm">Add items in stock &raquo;</a></p>
                </div>
                <div class="row">
                    <p><a class="btn btn-default" id="b1">View items in stock &raquo;</a></p>
                </div>
                <div class="row">
                    <p><a class="btn btn-default" id="b2">Add Vendor Companies &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div id="result1">
            </div>
        </div>
    </div>

</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div id="result2"></div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {

        $('#b1').click(function () {
            $('#result2').load('/Home/AllItems');
        });

        $('#b2').click(function () {
            $('#result1').load('/Admin/AddVendor');
        });

        });
</script>

