
@{
    ViewBag.Title = "SuccessfulDel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Item Successfully Removed</h2>

<form action="/Admin/Types">
    <button type="submit" class="btn btn-default">Got to Types</button>
</form>

