
@{
    ViewBag.Title = "SuccessfulUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Item Successfully Updated</h2>

<form action="/Admin/Stock">
    <button type="submit" class="btn btn-default">Got to Stock</button>
</form>

