@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Situated at the center of a saint city Sharaq Pur Sharif,<br>we provide all the household
    electronic accessories<br>i.e. Food Care, Fabric Care and Home Care.<br><br><strong>Feel free to visit our shop!</strong>
</p>
