
@{
    ViewBag.Title = "CartRemoved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Successfully Removed from your Cart</h2>

<form action="/Home/ViewCart">
    <button type="submit" class="btn btn-default">View Your Cart</button>
</form>

