@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Zakria Electronics<br />
    Opposite to Dr Farooq Hospital, Sharaq Pur Sharif<br />
    <abbr title="Phone">P:</abbr>
    +92-321-7893523
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jango.studio.pucit@gmail.com">jango.studio.pucit@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:saim.mehmood@hotmail.com">saim.mehmood@hotmail.com</a>
</address>