
@{
    ViewBag.Title = "SearchByCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Zakria.Models

<div class="form-group">
    <label>Company</label>
    <select class="form-control" id="Selector">
        <option>-Select-</option>
        @foreach(Company comp in Model)
        {           
           <option>@comp.CompanyName</option>
        }
    </select>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="result3">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>

    $('#Selector').change(function ()
    {
        var value = $('#Selector').val();
        //alert(value);
        $('#result3').load('/Home/SearchByNameCompany?inp=' + value);
        //$('#result3').load('/Home/SearchByName');
        //alert(value)
        //$('#result3').load('/Home/SearchForCompany?Input=' + value);
       
    });

</script>