
@{
    ViewBag.Title = "SearchByCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Zakria.Models

<div class="form-group">
    <label>Company</label>
    <select class="form-control" id="Selector">
        <option>-Select-</option>
        @foreach(Company comp in Model)
        {           
           <option>@comp.CompanyName</option>
        }
    </select>
</div>
<br />
<div class="form-group">
    <label>Enter Name of Item</label>
    <input class="form-control" type="text" name="Input" required />
    <br>
    <input type="button" id="b1" class="btn btn-default" value="Search" />
</div>

<div class="row">
    <div class="col-md-12">
        <div id="result5">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>

    $('#b1').click(function ()
    {
        var value = $('input').val();
        //alert(value);
        var value2 = $('#Selector').val();
        //alert(value2);
        //$('#result5').load('/Home/SearchForCompany?Input=' + value +'&Comapny='+ViewBag.company);
        $('#result5').load('/Home/SearchForAll?Input=' + value + '&Comp='+ value2);
    });

    //$('#Selector').change(function ()
    //{
    //    var value = $('#Selector').val();
    //    //alert(value);
    //    $('#result3').load('/Home/SearchByNameCompany?inp=' + value);
    //    //$('#result3').load('/Home/SearchByName');
    //    //alert(value)
    //    //$('#result3').load('/Home/SearchForCompany?Input=' + value);

    //});

</script>